.about-section
    height: 100vh
    width: 100%
    padding-top: 13.5vh
    position: relative

    &__header
        font-size: 5vh
        line-height: 5vh
        color: $main
        text-align: center
    
    &__text
        margin-top: 21vh
        font-size: 2.4vh
        color: $main
    
    &__link
        margin-top: 11vh
        +link-to-other-section
        color: $main
        &:hover
            color: $main
        
    &__lady_png
        margin-top: 5.5vh
        height: 76vh
        
        